# Database Configuration
MONGO_INITDB_DATABASE=dev_pvm-dashboard
MONGO_URI=mongodb://mongo:27017/dev_pvm-dashboard

# Backend Configuration
NODE_ENV=development
PORT=3001

# Logging
LOG_LEVEL=info

# Frontend Configuration
NEXT_PUBLIC_BASE_URL=http://localhost
NEXT_PUBLIC_BACKEND_URL=http://backend:3001
